<!--<form [formGroup]="formularioProduto">
    <ngb-alert *ngIf="mostrar == false" [dismissible]="true"><strong>Uhuu!</strong> Produto cadastrado!</ngb-alert>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Codigo</mat-label>
          <input matInput type="text" formControlName="code" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Preço de custo</mat-label>
          <input matInput type="number" formControlName="costPrice" />
        </mat-form-field>
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Preço de venda</mat-label>
          <input matNativeControl type="number" formControlName="salePrice" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Tempo de preparo</mat-label>
          <input matInput type="text" formControlName="preparationTime" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Descrição</mat-label>
          <input matInput type="text" formControlName="description" />
        </mat-form-field>
      </td>
    </tr>
    <mat-form-field>
    <mat-label>Tipo de produto</mat-label>
    <mat-select formControlName="productType" name="itens">
      <mat-option *ngFor="let itens of prodcuts" [value]="itens">
        {{itens}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </table>
  <div class="example-button-row">
    <button
      type="submit"
      (click)="salvarProduto()"
      mat-stroked-button color="primary"
    >
      Salvame Plsssss
    </button>
  </div>
</form>-->
