.header {
    display: flex;
    align-items: center;
    background-color: rgb(19, 0, 42);
    height: 9vh;
    //z-index: 1;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-right: 5px;
}

.header .logo {
    max-height: 32px;
}

.header .text-bonito {
    padding-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
    display: flex;
}

.header .text-bonito i {
    padding-right: 5px;
}