<mat-toolbar class="header mat-elevation-z4" >
    <span>
        <a>
            <img class="logo" src="../../../assets/Icons/estock-icon-rgb.png" alt="logo">
        </a>
    </span>
    <span class="text-bonito">
        <a>
           <i class="material-icons">
                keyboard_arrow_right
           </i> 
        </a>
        <a>
            Mapping your products
        </a>
        <a>
            <i class="material-icons">
                 keyboard_arrow_right
            </i> 
        </a>
        By: Kaue Ochner | Paulo Rodrigues        
        
    </span>
</mat-toolbar>
