
header{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}
div{
    margin: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: smaller;
}
.logo-icon{
   
    width: 100px;
    height: 100px;
}