.home {
    /* Estilos do seu cartão aqui */
    margin-bottom: 20px; /* Espaço entre os cartões */
    box-sizing: border-box;
}

.home .title {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1rem;
    overflow: hidden; /* Impede que o texto do título saia do cartão */
    text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto do título estiver cortado */
}

.home .subtitle {
    font-size: 1rem;
}

/*.column {
    flex: 1; As colunas terão tamanhos iguais 
    margin-right: 3%; /* Espaço de 3% entre as colunas 
    box-sizing: border-box; /* Para incluir a margem no tamanho das colunas 
}

 Exemplo de uso: Dividir em 3 colunas 
.column:nth-child(3n) {
    margin-right: 0; /* Remove a margem direita da terceira coluna em cada linha 
}*/

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espaço entre as colunas */
    width: 100%;
}

.grid {
    display: grid;
    //grid-template-columns: repeat(4, 1fr); /* Três colunas com largura igual */
    grid-template-columns: auto auto auto auto auto;
    gap: 3px; /* Espaço entre os cartões */
}

.cards{
    width: 100%;
}
