<mat-sidenav-container clas="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true">
         <mat-nav-list>
             <a mat-list-item class="nav-list" href="/home">
                <i class="material-icons">
                    home
                </i>
                Início
             </a>
             <a mat-list-item class="nav-list" href="/listar-produtos">
                <i class="material-icons">
                    <span class="material-symbols-outlined">
                        density_small
                        </span>
                </i>
                Lista de Produtos
             </a>
             <a mat-list-item class="nav-list" href="/cadastrar-produto">
                <i class="material-icons">
                    add
                </i>
                Cadastrar Produto
             </a>
             <a mat-list-item class="nav-list" href="/remover-produto">
                <i class="material-icons">
                    <span class="material-symbols-outlined">
                        delete
                        </span>
                </i>
                Remover Produto
             </a>
             <a mat-list-item class="nav-list" href="/atualizar-produto">
                <i class="material-icons">
                    <span class="material-symbols-outlined">
                        <span class="material-symbols-outlined">
                            sync_alt
                            </span>
                        </span>
                </i>
                Atualizar Produto
             </a>
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>
