<div class="content">
  <div class="row cards">
    <mat-card
      class="home mat-elevation-z3 "
      *ngFor="let produto of produtos"
    >
      <mat-card-title class="title">
        {{ produto.description }}
      </mat-card-title>
      <mat-card-subtitle class="subtitle">
        Código: {{ produto.code }}
      </mat-card-subtitle>
      <mat-card-content>R$ {{ produto.costPrice }}</mat-card-content>
      <button mat-button color="primary" [routerLink]="'/editar-produto/' + produto.id">
        Atualizar
      </button>
      <button mat-button (click)="excluir(produto.id)">
        <i class="button-exclude material-icons">
          <span class="material-symbols-outlined">
              delete
              </span>
        </i>
      </button>
    </mat-card>
  </div>
</div>

